<!-- Half Page Image Background Carousel Header -->
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
<!--     <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol> -->

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="overlay"></div>
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image: url('/assets/travel-more-pay-less.jpg');"></div>
            <div class="carousel-caption">
                <h2>Travel more, pay less</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image: url('/assets/milan-minimal-design.jpg');"></div>
            <div class="carousel-caption">
                <h2>Travel in style</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image: url('/assets/san-francisco-appartment.jpg');"></div>
            <div class="carousel-caption">
                <h2>Feel like home</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</div>

<section class="container">
<% @flats.each do |flat|%>
  <div class="col-md-3 col-sm-6">
    <article class="thumbnail home-listing">
      <%= image_tag flat.picture_url.url(:medium) %>
      <header class="caption">
        <h1><%= flat.title %></h1>
        <h2 class="text-muted"><%= flat.description %></h2>
        <h3><%= flat.price %> &euro;</h3>
      </header>
    </article>
  </div>
<% end %>
</section>

