.navbar{
  min-height: 75px;
}

.navbar-brand{
  height: 75px;

  img{
    height: 50px;
    display: inline-block;
  }
}

.navbar-nav{

  li{
    > a{
        @media(min-width: 768px){
          padding-top: 27.5px;
          padding-bottom: 27.5px;
        }
    }
  }
}

.navbar-text{
  @media(min-width: 768px){
    margin-top: 27.5px;
    margin-bottom: 27.5px;
  }
}

.navbar-toggle{
  margin-top: 20px;
}