@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300italic,300,400,400italic,700,900,700italic,900italic);
//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/lumen/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 100px; }

// And finally bootswatch style itself
@import "bootswatch/lumen/bootswatch";

// Whatever application styles you have go last
@import "partials/_nav";
@import "partials/_footer";
@import "flats/index";

html,
body {
    height: 100%;

    * {
      font-family: Lato, sans-serif;
    }
}
